In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
!apt-get install sqlite3
!pip install pandas

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 41 not upgraded.
Need to get 769 kB of archives.
After this operation, 1,874 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.5 [769 kB]
Fetched 769 kB in 1s (1,030 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 121703 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.5_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.5) ...
Setting up sqlite3 (3.37.2-2ubuntu0.5) ...
Processing triggers for man-db (2.10.2-1) ...
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import sqlite3
import pandas as pd
import os

In [5]:
conn = sqlite3.connect("my_database.db")

In [6]:
db_path = "/content/drive/MyDrive/my_database.db"

In [7]:
db_folder = "/content/drive/MyDrive/sqldb"
os.makedirs(db_folder,exist_ok=True)
db_path = os.path.join(db_folder,"my_database.db")

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

print("Database connected at:",db_path)

Database connected at: /content/drive/MyDrive/sqldb/my_database.db

customer table

In [55]:
'''#to delete table
table_name ="customer"
cursor.execute(f"delete from {table_name}")
conn.commit()'''

In [58]:
cursor.execute('''
create table customer(customer_id int,customer_name varchar(20),
address varchar(20),state_code varchar(3),telephone varchar(10))''')
conn.commit()

OperationalError: table customer already exists

In [12]:
!pip install  tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)

In [59]:
from tabulate import tabulate

#fetch data
cursor.execute("select*from customer")
rows = cursor.fetchall()

#get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabular format
print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------+-----------------+-----------+--------------+-------------+
| customer_id   | customer_name   | address   | state_code   | telephone   |
+===============+=================+===========+==============+=============+
+---------------+-----------------+-----------+--------------+-------------+

In [60]:
def insert_customer(customer_id,customer_name,address,state_code,telephone):
  cursor.execute("insert into customer(customer_id,customer_name,address,state_code,telephone) values(?,?,?,?,?)",(customer_id,customer_name,address,state_code,telephone))
  conn.commit()

In [61]:
insert_customer(123001,"kavya","225-5,Emeryville","CA","9010042663")
insert_customer(123002,"soumya","194-6,new brighton","MN","7095244078")
insert_customer(123003,"pranay","2909-5,walnut creek","CA","8977135881")
insert_customer(123004,"shree","229-5,concord","CA","9603264714")
insert_customer(123005,"sri","275-9,mission dist","SFO","7396317417")
insert_customer(123006,"charan","125-1,Richfield","MN","9505797324")
insert_customer(123006,"Noah", "275-9,saint-paul", "MN" , "1897613200")
insert_customer(123007,"Charlie","125-1,Richfield","MN" , "1897617666")

In [62]:
from tabulate import tabulate

#fetch data
cursor.execute("select*from customer")
rows = cursor.fetchall()

#get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabular format
print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------+-----------------+---------------------+--------------+-------------+
|   customer_id | customer_name   | address             | state_code   |   telephone |
+===============+=================+=====================+==============+=============+
|        123001 | kavya           | 225-5,Emeryville    | CA           |  9010042663 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | soumya          | 194-6,new brighton  | MN           |  7095244078 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123003 | pranay          | 2909-5,walnut creek | CA           |  8977135881 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123004 | shree           | 229-5,concord       | CA           |  9603264714 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123005 | sri             | 275-9,mission dist  | SFO          |  7396317417 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123006 | charan          | 125-1,Richfield     | MN           |  9505797324 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123006 | Noah            | 275-9,saint-paul    | MN           |  1897613200 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123007 | Charlie         | 125-1,Richfield     | MN           |  1897617666 |
+---------------+-----------------+---------------------+--------------+-------------+

In [20]:
#Bank_customer_export
cursor.execute('''
create table bank_customer_export(customer_id char(10),
customer_name char(20),
address char(20),state_code char(3),telephone char(10))''')
conn.commit()

In [51]:
#insert2
def insert_bank_customer_export(customer_id,customer_name,address,state_code,telephone):
  cursor.execute('''
  insert into bank_customer_export values(?,?,?,?,?)''',(customer_id,customer_name,address,state_code,telephone))
  conn.commit()

In [52]:
insert_bank_customer_export("123001","kavya","225-5,Emeryville","CA","9010042663")
insert_bank_customer_export("123002","soumya","194-6,new brighton","MN","7095244078")

In [63]:
from tabulate import tabulate

#fetch data
cursor.execute("select*from bank_customer_export")
rows = cursor.fetchall()

#get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabular format
print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------+-----------------+--------------------+--------------+-------------+
|   customer_id | customer_name   | address            | state_code   |   telephone |
+===============+=================+====================+==============+=============+
|        123001 | kavya           | 225-5,Emeryville   | CA           |  9010042663 |
+---------------+-----------------+--------------------+--------------+-------------+
|        123002 | soumya          | 194-6,new brighton | MN           |  7095244078 |
+---------------+-----------------+--------------------+--------------+-------------+

In [ ]:
cursor.execute('''create table bank_account_details(customer_id int,account_number varchar(10),
account_type varchar(10),
balance_amount int,account_status varchar(10),relationship_type varchar(1))''')
conn.commit()

In [73]:
def insert_bank_account_details(customer_id,account_number,account_type,
                                balance_amount,account_status,relationship_type):
  cursor.execute('''
  insert into bank_account_details(customer_id,account_number,account_type,
                                balance_amount,account_status,relationship_type)
                                values(?,?,?,?,?,?)''',(customer_id,account_number,account_type,
                                balance_amount,account_status,relationship_type))
  conn.commit()

In [74]:
insert_bank_account_details(123001, "4000-1956-3456","SAVINGS", 200000 ,"ACTIVE","P");
insert_bank_account_details(123001, "5000-1700-3456", "RECURRING DEPOSITS" ,9400000 ,"ACTIVE","S");
insert_bank_account_details(123002, "4000-1956-2001","SAVINGS", 400000 ,"ACTIVE","P");
insert_bank_account_details(123002, "5000-1700-5001","RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
insert_bank_account_details(123003, "4000-1956-2900","SAVINGS",750000,"INACTIVE","P");
insert_bank_account_details(123004, "5000-1700-6091",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S");
insert_bank_account_details(123004, "4000-1956-3401",  "SAVINGS", 655000 ,"ACTIVE","P");
insert_bank_account_details(123005, "4000-1956-5102",  "SAVINGS" , 300000 ,"ACTIVE","P");
insert_bank_account_details(123006, "4000-1956-5698",  "SAVINGS" , 455000 ,"ACTIVE" ,"P");
insert_bank_account_details(123007, "5000-1700-9800",  "SAVINGS", 355000 ,"ACTIVE" ,"P");
insert_bank_account_details(123007, "4000-1956-9977",  "RECURRING DEPOSITS" , 7025000,"ACTIVE" ,"S");
insert_bank_account_details(123008, "9000-1700-7777-4321",  "CREDITCARD",0,"INACTIVE","P");
insert_bank_account_details(123008, "5000-1700-7755",  "SAVINGS","NULL","INACTIVE","P");

In [75]:
from tabulate import tabulate

#fetch data
cursor.execute("select*from bank_account_details")
rows = cursor.fetchall()

#get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabular format
print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|   customer_id | account_number      | account_type       | balance_amount   | account_status   | relationship_type   |
+===============+=====================+====================+==================+==================+=====================+
|        123001 | 4000-1956-3456      | SAVINGS            | 200000           | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS | 9400000          | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 4000-1956-2001      | SAVINGS            | 400000           | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS | 7500000          | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123003 | 4000-1956-2900      | SAVINGS            | 750000           | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS | 7500000          | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123004 | 4000-1956-3401      | SAVINGS            | 655000           | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123005 | 4000-1956-5102      | SAVINGS            | 300000           | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123006 | 4000-1956-5698      | SAVINGS            | 455000           | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 5000-1700-9800      | SAVINGS            | 355000           | ACTIVE           | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 7025000          | ACTIVE           | S                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123008 | 9000-1700-7777-4321 | CREDITCARD         | 0                | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+
|        123008 | 5000-1700-7755      | SAVINGS            | NULL             | INACTIVE         | P                   |
+---------------+---------------------+--------------------+------------------+------------------+---------------------+

**account_relationship_details**

In [ ]:
#cursor.execute('''DROP TABLE IF EXISTS bank_account_relationship_details''')
cursor.execute('''
create table bank_account_relationship_details(customer_id int,account_number varchar(19),account_type varchar(10),
linking_account_number varchar(19))''')
conn.commit()

In [79]:
def insert_bank_account_relationship_details(customer_id,account_number,account_type,linking_account_number):
  cursor.execute('''
  insert into bank_account_relationship_details(customer_id,account_number,
  account_type,linking_account_number) values(?,?,?,?)''',(customer_id,account_number,account_type,linking_account_number))
conn.commit()

In [83]:
insert_bank_account_relationship_details("123001","4000-1956-3456","SAVING","5040-9362-7390")
insert_bank_account_relationship_details("123001", "5000-1700-3456","RECURRING DEPOSITS","4000-1956-3456")
insert_bank_account_relationship_details ("123002", "4000-1956-2001",  "SAVINGS" , "" )
insert_bank_account_relationship_details ("123002", "5000-1700-5001","RECURRING DEPOSITS" , "4000-1956-2001")
insert_bank_account_relationship_details("123003", "4000-1956-2900",  "SAVINGS" , "" )
insert_bank_account_relationship_details("123004", "5000-1700-7791",  "RECURRING DEPOSITS" , "4000-1956-2900")
insert_bank_account_relationship_details ("123007", "5000-1700-9800",  "SAVINGS" , "" )
insert_bank_account_relationship_details("123007", "4000-1956-9977",  "RECURRING DEPOSITS" , "5000-1700-9800" )
insert_bank_account_relationship_details("NULL", "9000-1700-7777-4321",  "Credit Card" , "5000-1700-9800" )
insert_bank_account_relationship_details("NULL", '5900-1900-9877-5543', 'Add-on Credit Card', '9000-1700-7777-4321' )
insert_bank_account_relationship_details ("NULL", '5800-1700-9800-7755', 'Credit Card', '4000-1956-5698' )
insert_bank_account_relationship_details ("NULL", '5890-1970-7706-8912', 'Add-on Credit Card', '5800-1700-9800-7755' )

In [84]:
from tabulate import tabulate
#fetch data
cursor.execute("select*from bank_account_relationship_details")
rows = cursor.fetchall()

#get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabular format
print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------+---------------------+--------------------+--------------------------+
| customer_id   | account_number      | account_type       | linking_account_number   |
+===============+=====================+====================+==========================+
| 123001        | 4000-1956-3456      | SAVING             | 5040-9362-7390           |
+---------------+---------------------+--------------------+--------------------------+
| 123001        | 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |
+---------------+---------------------+--------------------+--------------------------+
| 123002        | 4000-1956-2001      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123002        | 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |
+---------------+---------------------+--------------------+--------------------------+
| 123003        | 4000-1956-2900      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123004        | 5000-1700-7791      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
| 123007        | 5000-1700-9800      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123007        | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
| NULL          | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
| NULL          | 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |
+---------------+---------------------+--------------------+--------------------------+
| NULL          | 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |
+---------------+---------------------+--------------------+--------------------------+
| NULL          | 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |
+---------------+---------------------+--------------------+--------------------------+

bank_account_transaction

In [ ]:
cursor.execute('''create table bank_account_transaction1(account_number varchar(19),
 transaction_amount decimal(18,2),transaction_channel varchar(18),province varchar(3),
 transaction_date date)''')
conn.commit()

In [ ]:
def insert_bank_account_transaction1(account_number, transaction_amount ,transaction_channel,province,transaction_date):
  cursor.execute(''' insert into bank_account_transaction1(account_number, transaction_amount, transaction_channel,province,transaction_date)
  values(?,?,?,?,?)''',(account_number,transaction_amount,transaction_channel,province,transaction_date))
  conn.commit()

In [ ]:
#BART ="bank_account_transaction"
#cursor.execute(f"delete from {BART}")
#conn.commit()

In [ ]:
insert_bank_account_transaction1("4000-1956-3456",-2000,"ATM withdrawl","CA","2020-01-13")
insert_bank_account_transaction1("4000-1956-2001",-4000,"pos-walmart","MN","2020-02-14")
insert_bank_account_transaction1("4000-1956-2001",-1600,"UPI transfer","MN","2020-01-19")
insert_bank_account_transaction1("4000-1956-2001",  -6000, "Bankers cheque", "CA", "2020-03-23")
insert_bank_account_transaction1("4000-1956-2001",  -3000, "Net banking"   , "CA", "2020-04-24")
insert_bank_account_transaction1("4000-1956-2001",  23000, "cheque deposit", "MN", "2020-03-15")
insert_bank_account_transaction1("5000-1700-6091",  40000, "ECS transfer"  , "NY", "2020-02-19")
insert_bank_account_transaction1( "5000-1700-7791",  40000, "ECS transfer"  , "NY", "2020-02-19")
insert_bank_account_transaction1( "4000-1956-3401",   8000, "Cash Deposit"  , "NY", "2020-01-19");
insert_bank_account_transaction1( "4000-1956-5102",  -6500, "ATM withdrawal" , "NY", "2020-03-14");
insert_bank_account_transaction1( "4000-1956-5698",  -9000, "Cash Deposit"  , "NY", "2020-03-27");
insert_bank_account_transaction1( "4000-1956-9977",  50000, "ECS transfer"  , "NY", "2020-01-16");
insert_bank_account_transaction1( "9000-1700-7777-4321",  -5000, "POS-Walmart", "NY", "2020-02-17");
insert_bank_account_transaction1( "9000-1700-7777-4321",  -8000, "Shopping Cart", "MN", "2020-03-13");
insert_bank_account_transaction1( "9000-1700-7777-4321",  -2500, "Shopping Cart", "MN", "2020-04-21");
insert_bank_account_transaction1( "5800-1700-9800-7755", -9000, "POS-Walmart","MN", "2020-04-13");
insert_bank_account_transaction1( '5890-1970-7706-8912', -11000, "Shopping Cart" , "NY" , "2020-03-12") ;

In [85]:
from tabulate import tabulate
#fetch data
cursor.execute("select*from bank_account_transaction1 ")
rows = cursor.fetchall()

#get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabular format
print(tabulate(rows,headers=column_names,tablefmt="grid"))

+---------------------+----------------------+-----------------------+------------+--------------------+
| account_number      |   transaction_amount | transaction_channel   | province   | transaction_date   |
+=====================+======================+=======================+============+====================+
| 4000-1956-3456      |                -2000 | ATM withdrawl         | CA         | 2020-01-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -4000 | pos-walmart           | MN         | 2020-02-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -1600 | UPI transfer          | MN         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -6000 | Bankers cheque        | CA         | 2020-03-23         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -3000 | Net banking           | CA         | 2020-04-24         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                23000 | cheque deposit        | MN         | 2020-03-15         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-6091      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-7791      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3401      |                 8000 | Cash Deposit          | NY         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5102      |                -6500 | ATM withdrawal        | NY         | 2020-03-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5698      |                -9000 | Cash Deposit          | NY         | 2020-03-27         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                50000 | ECS transfer          | NY         | 2020-01-16         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -5000 | POS-Walmart           | NY         | 2020-02-17         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -8000 | Shopping Cart         | MN         | 2020-03-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -2500 | Shopping Cart         | MN         | 2020-04-21         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5800-1700-9800-7755 |                -9000 | POS-Walmart           | MN         | 2020-04-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5890-1970-7706-8912 |               -11000 | Shopping Cart         | NY         | 2020-03-12         |
+---------------------+----------------------+-----------------------+------------+--------------------+

cust msg

In [ ]:
cursor.execute('''create table bank_customer_messages(event varchar(24),customer_message varchar(75),notice_delivery_mode varchar(15))''')
conn.commit()

In [87]:
def insert_bank_customer_messages(event,customer_message,notice_delivery_mode):
  cursor.execute('''insert into bank_customer_messages(event,customer_message,notice_delivery_mode) values(?,?,?)''',(event,customer_message,notice_delivery_mode))
  conn.commit()

In [ ]:
insert_bank_customer_messages("adhoc","all bank are closed due to announcement of national strike","mobile")
insert_bank_customer_messages("transaction limit","only limited withdrawals per card are allowed from ATM machines","mobile")

In [88]:
from tabulate import tabulate
cursor.execute("select*from bank_customer_messages")
rows = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
print(tabulate(rows,headers = column_names,tablefmt ="grid"))

+-------------------+-----------------------------------------------------------------+------------------------+
| event             | customer_message                                                | notice_delivery_mode   |
+===================+=================================================================+========================+
| adhoc             | all bank are closed due to announcement of national strike      | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+
| transaction limit | only limited withdrawals per card are allowed from ATM machines | mobile                 |
+-------------------+-----------------------------------------------------------------+------------------------+

In [ ]:
cursor.execute(''' create table bank_interest_rate(account_type varchar(24),
interest_rate decimal(4,2),
month varchar(2),year  varchar(4)
)''')
conn.commit()

In [ ]:
def insert_bank_interest_rate(account_type,interest_rate,month,year):
  cursor.execute('''insert into bank_interest_rate(account_type,interest_rate,month,year)values(?,?,?,?)'''
  ,(account_type,interest_rate,month,year))
  conn.commit()

In [ ]:
insert_bank_interest_rate ( "SAVINGS" , 0.04 , '02' , '2020' )
insert_bank_interest_rate ( "RECURRING DEPOSITS" , 0.07, '02' , '2020' )
insert_bank_interest_rate ( "PRIVILEGED_INTEREST_RATE" , 0.08 , '02' , '2020' )

In [90]:
from tabulate import tabulate
cursor.execute("select*from bank_interest_rate")
rows = cursor.fetchall()
columns_names = [desc[0] for desc in cursor.description]
print(tabulate(rows,headers= column_names,tablefmt = "grid"))

+--------------------------+---------+--------------------+------------------------+
|                          |   event |   customer_message |   notice_delivery_mode |
+==========================+=========+====================+========================+
| SAVINGS                  |    0.04 |                 02 |                   2020 |
+--------------------------+---------+--------------------+------------------------+
| RECURRING DEPOSITS       |    0.07 |                 02 |                   2020 |
+--------------------------+---------+--------------------+------------------------+
| PRIVILEGED_INTEREST_RATE |    0.08 |                 02 |                   2020 |
+--------------------------+---------+--------------------+------------------------+

## 1) Print customer Id, customer name and average account_balance maintained by each customer for all  of his/her accounts in the bank.(8 Rows)

In [91]:
query ='''
select t1.customer_id,t1.customer_name,
avg(t2.balance_amount) as avg_balance
from customer t1
left join bank_account_details2 t2
on t1.customer_id = t2.customer_id
group by t1.customer_id,t1.customer_name
limit 8;'''
result =pd.read_sql_query(query,conn)
print(tabulate(result,headers ="keys",tablefmt = 'grid'))

+----+---------------+-----------------+-----------------+
|    |   customer_id | customer_name   |     avg_balance |
+====+===============+=================+=================+
|  0 |        123001 | kavya           |      4.8e+06    |
+----+---------------+-----------------+-----------------+
|  1 |        123002 | soumya          |      3.95e+06   |
+----+---------------+-----------------+-----------------+
|  2 |        123003 | pranay          | 750000          |
+----+---------------+-----------------+-----------------+
|  3 |        123004 | shree           |      4.0775e+06 |
+----+---------------+-----------------+-----------------+
|  4 |        123005 | sri             | 300000          |
+----+---------------+-----------------+-----------------+
|  5 |        123006 | Noah            | 455000          |
+----+---------------+-----------------+-----------------+
|  6 |        123006 | charan          | 455000          |
+----+---------------+-----------------+-----------------+
|  7 |        123007 | Charlie         |      3.69e+06   |
+----+---------------+-----------------+-----------------+

2) Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount  for account_type = "Credit Card"(4 Rows)

In [92]:
query2 = '''
select t1.customer_id,t1.account_number,t1.balance_amount,

case
  when (t1.balance_amount is null or t1.balance_amount = 0) and t1.account_type = "CREDITCARD"
  then t2.transaction_amount
  else t1.balance_amount
end as adjust_amount

from bank_account_details2 t1
inner join bank_account_transaction1 t2
on t1.account_number = t2.account_number
group by t1.customer_id,t1.account_number'''
result1 =pd.read_sql_query(query2,conn)
print(tabulate(result1,headers ="keys",tablefmt ="grid"))

+----+---------------+---------------------+------------------+-----------------+
|    |   customer_id | account_number      |   balance_amount |   adjust_amount |
+====+===============+=====================+==================+=================+
|  0 |        123001 | 4000-1956-3456      |           200000 |          200000 |
+----+---------------+---------------------+------------------+-----------------+
|  1 |        123002 | 4000-1956-2001      |           400000 |          400000 |
+----+---------------+---------------------+------------------+-----------------+
|  2 |        123004 | 4000-1956-3401      |           655000 |          655000 |
+----+---------------+---------------------+------------------+-----------------+
|  3 |        123004 | 5000-1700-6091      |          7500000 |         7500000 |
+----+---------------+---------------------+------------------+-----------------+
|  4 |        123005 | 4000-1956-5102      |           300000 |          300000 |
+----+---------------+---------------------+------------------+-----------------+
|  5 |        123006 | 4000-1956-5698      |           455000 |          455000 |
+----+---------------+---------------------+------------------+-----------------+
|  6 |        123007 | 4000-1956-9977      |          7025000 |         7025000 |
+----+---------------+---------------------+------------------+-----------------+
|  7 |        123008 | 9000-1700-7777-4321 |                0 |           -8000 |
+----+---------------+---------------------+------------------+-----------------+

Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction for all the transactions occurred during march,2020 and april, 2020(12 Rows)

In [93]:
query3 = '''
select
 t1.account_number,t1.balance_amount,
 t2.transaction_amount,t2.transaction_date
from bank_account_details2 t1
inner join bank_account_transaction1 t2
on t1.account_number = t2.account_number
where t2.transaction_date between "2020-03-01" and "2020-04-30"
limit 12 ;'''
result3 = pd.read_sql_query(query3,conn)
print(tabulate(result3,headers ="keys",tablefmt ="grid"))

+----+---------------------+------------------+----------------------+--------------------+
|    | account_number      |   balance_amount |   transaction_amount | transaction_date   |
+====+=====================+==================+======================+====================+
|  0 | 4000-1956-2001      |           400000 |                -6000 | 2020-03-23         |
+----+---------------------+------------------+----------------------+--------------------+
|  1 | 4000-1956-2001      |           400000 |                -3000 | 2020-04-24         |
+----+---------------------+------------------+----------------------+--------------------+
|  2 | 4000-1956-2001      |           400000 |                23000 | 2020-03-15         |
+----+---------------------+------------------+----------------------+--------------------+
|  3 | 4000-1956-5102      |           300000 |                -6500 | 2020-03-14         |
+----+---------------------+------------------+----------------------+--------------------+
|  4 | 4000-1956-5698      |           455000 |                -9000 | 2020-03-27         |
+----+---------------------+------------------+----------------------+--------------------+
|  5 | 9000-1700-7777-4321 |                0 |                -8000 | 2020-03-13         |
+----+---------------------+------------------+----------------------+--------------------+
|  6 | 9000-1700-7777-4321 |                0 |                -2500 | 2020-04-21         |
+----+---------------------+------------------+----------------------+--------------------+

Print all of the customer id, account number,  balance_amount, transaction_amount , Transaction_Date  from bank_customer, Bank_Account_Details and bank_account_transaction tables where excluding all of their transactions in march, 2020  month (22 Rows)

In [94]:
import pandas as pd

In [95]:
query4 = '''
select
 t1.customer_id,t2.account_number,t2.balance_amount,
 t3.transaction_amount,t3.transaction_date
 from customer t1
 join bank_account_details2 t2
 on t1.customer_id = t2.customer_id
 join bank_account_transaction1 t3
 on t2.account_number = t3.account_number
 where not (strftime('%y',t3.transaction_date) = '2020' and strftime('%m',t3.transaction_date) ='03')
 limit 22;'''
result4 = pd.read_sql_query(query4,conn)
print(tabulate(result4,headers ="keys",tablefmt = "grid"))

+----+---------------+------------------+------------------+----------------------+--------------------+
|    |   customer_id | account_number   |   balance_amount |   transaction_amount | transaction_date   |
+====+===============+==================+==================+======================+====================+
|  0 |        123001 | 4000-1956-3456   |           200000 |                -2000 | 2020-01-13         |
+----+---------------+------------------+------------------+----------------------+--------------------+
|  1 |        123002 | 4000-1956-2001   |           400000 |                -4000 | 2020-02-14         |
+----+---------------+------------------+------------------+----------------------+--------------------+
|  2 |        123002 | 4000-1956-2001   |           400000 |                -1600 | 2020-01-19         |
+----+---------------+------------------+------------------+----------------------+--------------------+
|  3 |        123002 | 4000-1956-2001   |           400000 |                -3000 | 2020-04-24         |
+----+---------------+------------------+------------------+----------------------+--------------------+
|  4 |        123004 | 5000-1700-6091   |          7500000 |                40000 | 2020-02-19         |
+----+---------------+------------------+------------------+----------------------+--------------------+
|  5 |        123004 | 4000-1956-3401   |           655000 |                 8000 | 2020-01-19         |
+----+---------------+------------------+------------------+----------------------+--------------------+
|  6 |        123007 | 4000-1956-9977   |          7025000 |                50000 | 2020-01-16         |
+----+---------------+------------------+------------------+----------------------+--------------------+

5) Print only the customer id, account_number, balance_amount,transaction_amount ,transaction_date who did transactions during the first quarter. Do not display the accounts if they have not done any transactions in the first quarter.(16 Rows)

In [96]:
query5 ='''
select
t1.customer_id,t1.account_number,
t1.balance_amount,t2.transaction_amount,t2.transaction_date
from bank_account_details2 t1
inner join bank_account_transaction1 t2
on t1.account_number = t2.account_number
where not t2.transaction_date between "2020-01-01" and "2020-03-31"
'''
result5 = pd.read_sql_query(query5 ,conn)
print(tabulate(result5,headers = "keys",tablefmt ="grid"))

+----+---------------+---------------------+------------------+----------------------+--------------------+
|    |   customer_id | account_number      |   balance_amount |   transaction_amount | transaction_date   |
+====+===============+=====================+==================+======================+====================+
|  0 |        123002 | 4000-1956-2001      |           400000 |                -3000 | 2020-04-24         |
+----+---------------+---------------------+------------------+----------------------+--------------------+
|  1 |        123008 | 9000-1700-7777-4321 |                0 |                -2500 | 2020-04-21         |
+----+---------------+---------------------+------------------+----------------------+--------------------+

Print account_number, Event and Customer_message from BANK_CUSTOMER_MESSAGES and Bank_Account_Details to display an Adhoc" Event for all customers who have SAVINGS" account_type account.(8 Rows)

In [97]:
query6 = '''
select
t1.account_number,t2.event,t2.customer_message
from bank_account_details2 t1
cross join bank_customer_messages t2
where t1.account_type = "SAVINGS" and t2.event ="adhoc"
 limit 8;
 '''
result6 = pd.read_sql_query(query6 ,conn)
print(tabulate(result6,headers = "keys",tablefmt ="grid"))

+----+------------------+---------+------------------------------------------------------------+
|    | account_number   | event   | customer_message                                           |
+====+==================+=========+============================================================+
|  0 | 4000-1956-3456   | adhoc   | all bank are closed due to announcement of national strike |
+----+------------------+---------+------------------------------------------------------------+
|  1 | 4000-1956-2001   | adhoc   | all bank are closed due to announcement of national strike |
+----+------------------+---------+------------------------------------------------------------+
|  2 | 4000-1956-2900   | adhoc   | all bank are closed due to announcement of national strike |
+----+------------------+---------+------------------------------------------------------------+
|  3 | 4000-1956-3401   | adhoc   | all bank are closed due to announcement of national strike |
+----+------------------+---------+------------------------------------------------------------+
|  4 | 4000-1956-5102   | adhoc   | all bank are closed due to announcement of national strike |
+----+------------------+---------+------------------------------------------------------------+
|  5 | 4000-1956-5698   | adhoc   | all bank are closed due to announcement of national strike |
+----+------------------+---------+------------------------------------------------------------+
|  6 | 5000-1700-9800   | adhoc   | all bank are closed due to announcement of national strike |
+----+------------------+---------+------------------------------------------------------------+
|  7 | 5000-1700-7755   | adhoc   | all bank are closed due to announcement of national strike |
+----+------------------+---------+------------------------------------------------------------+

7) Print all Customer_id, Account_Number, Account_type, and display deducted balance_amount by subtracting only negative transaction_amounts for Relationship_type ="P" ( P - means Primary , S - means Secondary ) .(27 Rows)

In [98]:
query7 ='''
select
t1.customer_id,t1.account_number,t1.account_type,
t1.relationship_type,
t1.balance_amount,t2.transaction_amount,
balance_amount + transaction_amount as deducted_amount
from bank_account_details2 t1
left join bank_account_transaction1 t2
where transaction_amount < 0 and relationship_type = "P"
limit 27;
'''
result7 = pd.read_sql_query(query7 ,conn)
print(tabulate(result7,headers = "keys",tablefmt ="grid"))

+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
|    |   customer_id | account_number      | account_type   | relationship_type   | balance_amount   |   transaction_amount |   deducted_amount |
+====+===============+=====================+================+=====================+==================+======================+===================+
|  0 |        123001 | 4000-1956-3456      | SAVINGS        | P                   | 200000           |                -2000 |            198000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
|  1 |        123002 | 4000-1956-2001      | SAVINGS        | P                   | 400000           |                -2000 |            398000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
|  2 |        123003 | 4000-1956-2900      | SAVINGS        | P                   | 750000           |                -2000 |            748000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
|  3 |        123004 | 4000-1956-3401      | SAVINGS        | P                   | 655000           |                -2000 |            653000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
|  4 |        123005 | 4000-1956-5102      | SAVINGS        | P                   | 300000           |                -2000 |            298000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
|  5 |        123006 | 4000-1956-5698      | SAVINGS        | P                   | 455000           |                -2000 |            453000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
|  6 |        123007 | 5000-1700-9800      | SAVINGS        | P                   | 355000           |                -2000 |            353000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
|  7 |        123008 | 5000-1700-7755      | SAVINGS        | P                   | NULL             |                -2000 |             -2000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
|  8 |        123008 | 9000-1700-7777-4321 | CREDITCARD     | P                   | 0                |                -2000 |             -2000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
|  9 |        123001 | 4000-1956-3456      | SAVINGS        | P                   | 200000           |                -4000 |            196000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 10 |        123002 | 4000-1956-2001      | SAVINGS        | P                   | 400000           |                -4000 |            396000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 11 |        123003 | 4000-1956-2900      | SAVINGS        | P                   | 750000           |                -4000 |            746000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 12 |        123004 | 4000-1956-3401      | SAVINGS        | P                   | 655000           |                -4000 |            651000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 13 |        123005 | 4000-1956-5102      | SAVINGS        | P                   | 300000           |                -4000 |            296000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 14 |        123006 | 4000-1956-5698      | SAVINGS        | P                   | 455000           |                -4000 |            451000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 15 |        123007 | 5000-1700-9800      | SAVINGS        | P                   | 355000           |                -4000 |            351000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 16 |        123008 | 5000-1700-7755      | SAVINGS        | P                   | NULL             |                -4000 |             -4000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 17 |        123008 | 9000-1700-7777-4321 | CREDITCARD     | P                   | 0                |                -4000 |             -4000 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 18 |        123001 | 4000-1956-3456      | SAVINGS        | P                   | 200000           |                -1600 |            198400 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 19 |        123002 | 4000-1956-2001      | SAVINGS        | P                   | 400000           |                -1600 |            398400 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 20 |        123003 | 4000-1956-2900      | SAVINGS        | P                   | 750000           |                -1600 |            748400 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 21 |        123004 | 4000-1956-3401      | SAVINGS        | P                   | 655000           |                -1600 |            653400 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 22 |        123005 | 4000-1956-5102      | SAVINGS        | P                   | 300000           |                -1600 |            298400 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 23 |        123006 | 4000-1956-5698      | SAVINGS        | P                   | 455000           |                -1600 |            453400 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 24 |        123007 | 5000-1700-9800      | SAVINGS        | P                   | 355000           |                -1600 |            353400 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 25 |        123008 | 5000-1700-7755      | SAVINGS        | P                   | NULL             |                -1600 |             -1600 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+
| 26 |        123008 | 9000-1700-7777-4321 | CREDITCARD     | P                   | 0                |                -1600 |             -1600 |
+----+---------------+---------------------+----------------+---------------------+------------------+----------------------+-------------------+

# a) Display records of All Accounts , their Account_types, the transaction amount.

In [99]:
query8_1 ='''
select
t1.account_number,t1.account_type,t2.transaction_amount
from bank_account_details2 t1
join bank_account_transaction1 t2
on t1.account_number = t2.account_number
'''
result8 =pd.read_sql_query(query8_1,conn)
print(tabulate(result8,headers ="keys",tablefmt = "grid"))

+----+---------------------+--------------------+----------------------+
|    | account_number      | account_type       |   transaction_amount |
+====+=====================+====================+======================+
|  0 | 4000-1956-3456      | SAVINGS            |                -2000 |
+----+---------------------+--------------------+----------------------+
|  1 | 4000-1956-2001      | SAVINGS            |                -6000 |
+----+---------------------+--------------------+----------------------+
|  2 | 4000-1956-2001      | SAVINGS            |                -4000 |
+----+---------------------+--------------------+----------------------+
|  3 | 4000-1956-2001      | SAVINGS            |                -3000 |
+----+---------------------+--------------------+----------------------+
|  4 | 4000-1956-2001      | SAVINGS            |                -1600 |
+----+---------------------+--------------------+----------------------+
|  5 | 4000-1956-2001      | SAVINGS            |                23000 |
+----+---------------------+--------------------+----------------------+
|  6 | 5000-1700-6091      | RECURRING DEPOSITS |                40000 |
+----+---------------------+--------------------+----------------------+
|  7 | 4000-1956-3401      | SAVINGS            |                 8000 |
+----+---------------------+--------------------+----------------------+
|  8 | 4000-1956-5102      | SAVINGS            |                -6500 |
+----+---------------------+--------------------+----------------------+
|  9 | 4000-1956-5698      | SAVINGS            |                -9000 |
+----+---------------------+--------------------+----------------------+
| 10 | 4000-1956-9977      | RECURRING DEPOSITS |                50000 |
+----+---------------------+--------------------+----------------------+
| 11 | 9000-1700-7777-4321 | CREDITCARD         |                -8000 |
+----+---------------------+--------------------+----------------------+
| 12 | 9000-1700-7777-4321 | CREDITCARD         |                -5000 |
+----+---------------------+--------------------+----------------------+
| 13 | 9000-1700-7777-4321 | CREDITCARD         |                -2500 |
+----+---------------------+--------------------+----------------------+

 b) Along with first step, Display other columns with corresponding linking account number, account types (15 Rows

In [100]:
query8_2 ='''
select
T.account_number,T.account_type,T.transaction_amount,
t3.account_type as linking_account_type, t3.linking_account_number

from (select t1.*,  t2.transaction_amount
      from
        bank_account_details2 t1 LEFT join bank_account_transaction1 t2 on
        t1.account_number = t2.account_number) as T

LEFT join bank_account_relationship_details t3
on T.account_number = t3.account_number
'''
result8_2 =pd.read_sql_query(query8_2,conn)
print(tabulate(result8_2,headers ="keys",tablefmt = "grid"))

+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
|    | account_number      | account_type       |   transaction_amount | linking_account_type   | linking_account_number   |
+====+=====================+====================+======================+========================+==========================+
|  0 | 4000-1956-3456      | SAVINGS            |                -2000 | SAVING                 | 5040-9362-7390           |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
|  1 | 5000-1700-3456      | RECURRING DEPOSITS |                  nan | RECURRING DEPOSITS     | 4000-1956-3456           |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
|  2 | 4000-1956-2001      | SAVINGS            |                -6000 | SAVINGS                |                          |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
|  3 | 4000-1956-2001      | SAVINGS            |                -4000 | SAVINGS                |                          |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
|  4 | 4000-1956-2001      | SAVINGS            |                -3000 | SAVINGS                |                          |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
|  5 | 4000-1956-2001      | SAVINGS            |                -1600 | SAVINGS                |                          |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
|  6 | 4000-1956-2001      | SAVINGS            |                23000 | SAVINGS                |                          |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
|  7 | 5000-1700-5001      | RECURRING DEPOSITS |                  nan | RECURRING DEPOSITS     | 4000-1956-2001           |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
|  8 | 4000-1956-2900      | SAVINGS            |                  nan | SAVINGS                |                          |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
|  9 | 5000-1700-6091      | RECURRING DEPOSITS |                40000 |                        |                          |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
| 10 | 4000-1956-3401      | SAVINGS            |                 8000 |                        |                          |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
| 11 | 4000-1956-5102      | SAVINGS            |                -6500 |                        |                          |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
| 12 | 4000-1956-5698      | SAVINGS            |                -9000 |                        |                          |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
| 13 | 5000-1700-9800      | SAVINGS            |                  nan | SAVINGS                |                          |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
| 14 | 4000-1956-9977      | RECURRING DEPOSITS |                50000 | RECURRING DEPOSITS     | 5000-1700-9800           |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
| 15 | 9000-1700-7777-4321 | CREDITCARD         |                -8000 | Credit Card            | 5000-1700-9800           |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
| 16 | 9000-1700-7777-4321 | CREDITCARD         |                -5000 | Credit Card            | 5000-1700-9800           |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
| 17 | 9000-1700-7777-4321 | CREDITCARD         |                -2500 | Credit Card            | 5000-1700-9800           |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+
| 18 | 5000-1700-7755      | SAVINGS            |                  nan |                        |                          |
+----+---------------------+--------------------+----------------------+------------------------+--------------------------+

9_a) Display records of All Accounts , their Account_types, the transaction amount.

In [101]:
query9_1 = '''
select
t1.account_number,t1.account_type,t2.transaction_amount
from bank_account_details2 t1
join bank_account_transaction1 t2
on t1.account_number = t2.account_number
'''
result9_1 = pd.read_sql_query(query9_1,conn)
print(tabulate(result9_1,headers = "keys",tablefmt = "grid"))

+----+---------------------+--------------------+----------------------+
|    | account_number      | account_type       |   transaction_amount |
+====+=====================+====================+======================+
|  0 | 4000-1956-3456      | SAVINGS            |                -2000 |
+----+---------------------+--------------------+----------------------+
|  1 | 4000-1956-2001      | SAVINGS            |                -6000 |
+----+---------------------+--------------------+----------------------+
|  2 | 4000-1956-2001      | SAVINGS            |                -4000 |
+----+---------------------+--------------------+----------------------+
|  3 | 4000-1956-2001      | SAVINGS            |                -3000 |
+----+---------------------+--------------------+----------------------+
|  4 | 4000-1956-2001      | SAVINGS            |                -1600 |
+----+---------------------+--------------------+----------------------+
|  5 | 4000-1956-2001      | SAVINGS            |                23000 |
+----+---------------------+--------------------+----------------------+
|  6 | 5000-1700-6091      | RECURRING DEPOSITS |                40000 |
+----+---------------------+--------------------+----------------------+
|  7 | 4000-1956-3401      | SAVINGS            |                 8000 |
+----+---------------------+--------------------+----------------------+
|  8 | 4000-1956-5102      | SAVINGS            |                -6500 |
+----+---------------------+--------------------+----------------------+
|  9 | 4000-1956-5698      | SAVINGS            |                -9000 |
+----+---------------------+--------------------+----------------------+
| 10 | 4000-1956-9977      | RECURRING DEPOSITS |                50000 |
+----+---------------------+--------------------+----------------------+
| 11 | 9000-1700-7777-4321 | CREDITCARD         |                -8000 |
+----+---------------------+--------------------+----------------------+
| 12 | 9000-1700-7777-4321 | CREDITCARD         |                -5000 |
+----+---------------------+--------------------+----------------------+
| 13 | 9000-1700-7777-4321 | CREDITCARD         |                -2500 |
+----+---------------------+--------------------+----------------------+

b) Along with first step, Display other columns with corresponding linking account number, account types

In [102]:
query9_2 = '''
select
t1.account_number,t1.account_type,t2.transaction_amount,
t3.linking_account_number
from bank_account_details2 t1
join bank_account_transaction1 t2
on t1.account_number = t2.account_number
join bank_account_relationship_details t3
on t1.account_number = t3.account_number
'''
result9_2 = pd.read_sql_query(query9_2,conn)
print(tabulate(result9_2,headers = "keys",tablefmt = "grid"))

+----+---------------------+--------------------+----------------------+--------------------------+
|    | account_number      | account_type       |   transaction_amount | linking_account_number   |
+====+=====================+====================+======================+==========================+
|  0 | 4000-1956-3456      | SAVINGS            |                -2000 | 5040-9362-7390           |
+----+---------------------+--------------------+----------------------+--------------------------+
|  1 | 4000-1956-2001      | SAVINGS            |                -6000 |                          |
+----+---------------------+--------------------+----------------------+--------------------------+
|  2 | 4000-1956-2001      | SAVINGS            |                -4000 |                          |
+----+---------------------+--------------------+----------------------+--------------------------+
|  3 | 4000-1956-2001      | SAVINGS            |                -3000 |                          |
+----+---------------------+--------------------+----------------------+--------------------------+
|  4 | 4000-1956-2001      | SAVINGS            |                -1600 |                          |
+----+---------------------+--------------------+----------------------+--------------------------+
|  5 | 4000-1956-2001      | SAVINGS            |                23000 |                          |
+----+---------------------+--------------------+----------------------+--------------------------+
|  6 | 4000-1956-9977      | RECURRING DEPOSITS |                50000 | 5000-1700-9800           |
+----+---------------------+--------------------+----------------------+--------------------------+
|  7 | 9000-1700-7777-4321 | CREDITCARD         |                -8000 | 5000-1700-9800           |
+----+---------------------+--------------------+----------------------+--------------------------+
|  8 | 9000-1700-7777-4321 | CREDITCARD         |                -5000 | 5000-1700-9800           |
+----+---------------------+--------------------+----------------------+--------------------------+
|  9 | 9000-1700-7777-4321 | CREDITCARD         |                -2500 | 5000-1700-9800           |
+----+---------------------+--------------------+----------------------+--------------------------+

c) After retrieving all records of accounts and their linked accounts, display the   transaction amount of accounts appeared  in another column.(26 Rows)

In [103]:

query9_3 = '''
select
t1.customer_id,t1.account_number,t3.transaction_amount,t1.account_type,t1.balance_amount,
t1.account_status,t1.relationship_type,
t2.linking_account_number,t3.transaction_channel,t3.transaction_date
from bank_account_details2 t1
join bank_account_relationship_details t2
on t1.customer_id = t2.customer_id
join bank_account_transaction1 t3
on t2.account_number = t3.account_number
'''
result9_3 = pd.read_sql_query(query9_3,conn)
print(tabulate(result9_3,headers ="keys",tablefmt ="grid"))

+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
|    |   customer_id | account_number   |   transaction_amount | account_type       |   balance_amount | account_status   | relationship_type   | linking_account_number   | transaction_channel   | transaction_date   |
+====+===============+==================+======================+====================+==================+==================+=====================+==========================+=======================+====================+
|  0 |        123001 | 4000-1956-3456   |                -2000 | SAVINGS            |           200000 | ACTIVE           | P                   | 5040-9362-7390           | ATM withdrawl         | 2020-01-13         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
|  1 |        123001 | 5000-1700-3456   |                -2000 | RECURRING DEPOSITS |          9400000 | ACTIVE           | S                   | 5040-9362-7390           | ATM withdrawl         | 2020-01-13         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
|  2 |        123002 | 4000-1956-2001   |                -6000 | SAVINGS            |           400000 | ACTIVE           | P                   |                          | Bankers cheque        | 2020-03-23         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
|  3 |        123002 | 4000-1956-2001   |                -4000 | SAVINGS            |           400000 | ACTIVE           | P                   |                          | pos-walmart           | 2020-02-14         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
|  4 |        123002 | 4000-1956-2001   |                -3000 | SAVINGS            |           400000 | ACTIVE           | P                   |                          | Net banking           | 2020-04-24         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
|  5 |        123002 | 4000-1956-2001   |                -1600 | SAVINGS            |           400000 | ACTIVE           | P                   |                          | UPI transfer          | 2020-01-19         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
|  6 |        123002 | 4000-1956-2001   |                23000 | SAVINGS            |           400000 | ACTIVE           | P                   |                          | cheque deposit        | 2020-03-15         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
|  7 |        123002 | 5000-1700-5001   |                -6000 | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |                          | Bankers cheque        | 2020-03-23         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
|  8 |        123002 | 5000-1700-5001   |                -4000 | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |                          | pos-walmart           | 2020-02-14         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
|  9 |        123002 | 5000-1700-5001   |                -3000 | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |                          | Net banking           | 2020-04-24         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
| 10 |        123002 | 5000-1700-5001   |                -1600 | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |                          | UPI transfer          | 2020-01-19         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
| 11 |        123002 | 5000-1700-5001   |                23000 | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   |                          | cheque deposit        | 2020-03-15         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
| 12 |        123004 | 5000-1700-6091   |                40000 | RECURRING DEPOSITS |          7500000 | ACTIVE           | S                   | 4000-1956-2900           | ECS transfer          | 2020-02-19         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
| 13 |        123004 | 4000-1956-3401   |                40000 | SAVINGS            |           655000 | ACTIVE           | P                   | 4000-1956-2900           | ECS transfer          | 2020-02-19         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
| 14 |        123007 | 5000-1700-9800   |                50000 | SAVINGS            |           355000 | ACTIVE           | P                   | 5000-1700-9800           | ECS transfer          | 2020-01-16         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+
| 15 |        123007 | 4000-1956-9977   |                50000 | RECURRING DEPOSITS |          7025000 | ACTIVE           | S                   | 5000-1700-9800           | ECS transfer          | 2020-01-16         |
+----+---------------+------------------+----------------------+--------------------+------------------+------------------+---------------------+--------------------------+-----------------------+--------------------+